* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.navbar-brand {
  margin-left: 20px;
  font-family: bignoodletitling;
  font-size: 30px;
  font-weight: bold;
}

#navbarNavDropdown {
  font-family: bignoodletitling;
  font-size: 20px;
  padding-right: 20px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.banner-area {
  padding-top: 0;
  width: 100%;
  height: 500px;
  position: static;
  top: 100px;
  background-image: url(../assets/headerimage.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.content-area {
  width: 100%;
  position: relative;
  background: #ddd;
  height: 1500px;
}

.content-area h2 {
  font-family: bignoodletitling;
  letter-spacing: 4px;
  padding-top: 30px;
  font-size: 40px;
  margin: 0;
}

.content-area p {
  padding: 2% 0;
  font-family: merienda;
  line-height: 30px;
}
