<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academics</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/year.css">
</head>
<body>
    <div class="tabs">
        <div class="tab-header">
          <div class="active">
            <button class="branch" onclick="location.href='/branch'" style="padding-right: 120px;">BRANCH</button>
          </div>
          <div>
            <button class="cse" value="CSE" onclick="doAction(this.value); location.href='/subject'" style="padding-right: 90px;">
              <script type="text/javascript">
                function doAction(value)
                {
                 // Don't really have anything to set...just show the value
                 activeButton = value;
                 
                }
               </script>
              CSE
            </button>
          </div>
          <div>
            <button class="ce" style="padding-right: 90px;">CE</button>
          </div>
          <div>
            <button class="it" style="padding-right: 90px;">IT</button>
          </div>
          <div>
            <button class="etc" style="padding-right: 90px;">ETC</button>
          </div>
          <div>
            <button class="eee" style="padding-right: 90px;">EEE</button>
          </div>
        </div>
        <div class="tab-indicator"></div>
        <div class="tab-content">
          
          <div class="active">
            <i class="Branch"></i>
            <h2>IIIT BHUBHANESWAR</h2>
            <p>Our college consists of five Branches.They are:</p>
            <ul>
                <li>CSE</li>
                <li>CE</li>
                <li>IT</li>
                <li>ETC</li>
                <li>EEE</li>
            </ul>
          </div>
          
          
          
        </div>
      </div>
      
      
      
    <script src="../scripts/year.js"></script>
    
</body>
</html>