<%- include ('../partials/header.ejs') %>

<div class="banner-area col-md-12 col-sm-12">
  <h2>this is banner</h2>
</div>
<div class="content-area">
  <div class="wrapper col-md-12 col-sm-12">
    <h2>International Institute of Information Technology Bhubaneswar</h2>
    <h5>Imagine . Innovate . Inspire</h5>
    <p>
      abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz
      abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz
      abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz
      abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz
    </p>
  </div>
</div>

<%- include ('../partials/footer') %>
