<%- include ('../partials/header.ejs') %>

<div class="banner-area col-md-12 col-sm-12">
  <h2>this is banner</h2>
</div>
<div class="content-area">
  <div class="wrapper">
    <h2>International Institute of Information Technology Bhubaneswar</h2>
    <h5>Imagine . Innovate . Inspire</h5>
    <p>
      The team did some optimization to reduce the performance overhead of
      serialisation, parsing and deserialisation during the startup.
    </p>
    <p>
      DevTools startup now is ~37% faster in terms of JavaScript compilation
      (from 6.9s down to 5s)! 🎉
    </p>
    <p>
      There will be an upcoming engineering blog post explaining the
      implementation in detail. Stay tuned!
    </p>
    <p>
      ), a clock icon is shown next to the angle in the Styles pane. Click on
      the clock icon to toggle the clock overlay. Click anywhere in the clock or
      drag the needle to change the angle!
    </p>
  </div>
</div>

<%- include ('../partials/footer') %>
