<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />

    <title>HomePage</title>
    <link rel="stylesheet" href="../stylesheets/homestyle.css" />
  </head>
  <body>
    <%- include('../partials/header') %>

    <div class="banner-area col-md-12 col-sm-12">
      <h2>this is banner</h2>
    </div>
    <div class="content-area">
      <div class="wrapper">
        <h2>International Institute of Information Technology Bhubaneswar</h2>
        <h5>Imagine . Innovate . Inspire</h5>
        <p>
          The team did some optimization to reduce the performance overhead of
          serialisation, parsing and deserialisation during the startup.
        </p>
        <p>
          DevTools startup now is ~37% faster in terms of JavaScript compilation
          (from 6.9s down to 5s)! 🎉
        </p>
        <p>
          There will be an upcoming engineering blog post explaining the
          implementation in detail. Stay tuned!
        </p>
        <p>
          ), a clock icon is shown next to the angle in the Styles pane. Click
          on the clock icon to toggle the clock overlay. Click anywhere in the
          clock or drag the needle to change the angle!
        </p>
      </div>
    </div>
    <script src="../scripts/home.js"></script>
    <footer><p>copyright..</p></footer>

    <%- include ('../partials/footer') %>
  </body>
</html>
