<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />

    <title>HomePage</title>
    <link rel="stylesheet" href="../stylesheets/homestyle.css" />
  </head>
  <body>
    <%- include('../partials/header') %>

    <div class="banner-area col-md-12 col-sm-12">
      <h2>this is banner</h2>
    </div>
    <div class="content-area">
      <div class="wrapper">
        <h2>International Institute of Information Technology Bhubaneswar</h2>
        <h5>Imagine . Innovate . Inspire</h5>
        <br />
        <p>
          The "International Institute of Information Technology, Bhubaneswar"
          (IIIT-BH or IIIT-BBSR) information technology higher education and a
          unitary university institute located in Bhubaneswar, Odisha, India. It
          is a University Grants Commission (India) (UGC) recognised Unitary
          Technical University.
        </p>
        <p>
          The campus is located in Gothapatna, Bhubaneswar. The campus houses
          classrooms, laboratories, library, hostel, faculty living quarters,
          sports facilities, and auditorium.
        </p>
        <p>
          IIIT Bhubaneswar was initiated by the Government of Odisha and
          registered as a society in 2006.It started operating in September
          2007.
        </p>
        <p>
          IIIT Bhubaneswar owes its origins to the initiative of the Government
          Odisha. In 2005, the then President of India Dr. APJ Abdul Kalam laid
          down the foundation stone of the institute. The institute was
          registered as a society in 2006. The management of the institute is in
          the hands of a governing body, consisting of representatives from the
          government of Odisha, leaders from the IT industry and educationists.
        </p>
        <a href="https://en.wikipedia.org/wiki/International_Institute_of_Information_Technology,_Bhubaneswar" class="btn btn-dark">Learn More</a>
      </div>
    </div>
    <script src="../scripts/home.js"></script>
    <footer><p>copyright..</p></footer>

    <%- include ('../partials/footer') %>
  </body>
</html>
