<h1>Add a new subject</h1>
<form action="/subject" method="POST">
    <input type="text" name="yearname" placeholder="Year Name">
    <input type="text" name="branchname" placeholder="Branch Name">
    <input type="text" name="subjectname" placeholder="Subject Name">
    <input type="text" name="image" placeholder="image url">
    <button>Submit</button>
</form>
<a href="/teacher">Go Back!</a>