<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"                       
      type="text/css"
      href="../stylesheets/show.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="container">
        <header class="jumbotron jumbo2" style="height:250px; margin-top:70px; padding-top:20px">
          <div class="container">
            <h2 style="margin-top:30px; color:black; margin-left:30px";><u>Notice</u></h2>
            <%if(msg!=undefined){%>
              <textarea id="textarea" style="height: 100px; width:100%"><%=msg%></textarea>
              <% } else { %>
                <textarea id="textarea" style="height: 100px; width:100%"></textarea>
              <%}%>
            
            <button class="btn btn-danger" onclick="postMsg()">Post</button>
            <button class="btn btn-primary" onclick="Editfunc()">Edit</button>
          </div>
        </header>
        
        <h1 style="margin-top: 70px; margin-bottom: 4px; margin-left:70px; color:black;">Students</h2>
        
        <hr style="margin-top:10px; margin-bottom:10px; color:black;">
      </div>
      <ul class="responsive-table">
        <header class="jumbotron">      
          <div class="container">
            <p align="right">
              <form name="jump" class="center">
              <select style="margin-left: 74%; margin-bottom:18px; padding:5px 5px;" name="menu" onchange="filterData(this.value)">
              <option selected>Filter By-</option>
              <option value="roll">Roll</option>
              <option value="Descending" >Descending</option>
              <option value="Ascending">Ascending</option>
              <option value="Back">below 35</option>
              <option value="Pass">Above 35</option>
              </select>
              </form>
            </p>
            <li class="table-header">
              <div class="col col-1">Id</div>
              <div class="col col-2">Name</div>
            </li>
            <% students.forEach(function(student){ %>
              <a onclick="fetchStudDetails('<%= student.roll %>')">
                <li class="table-row">
                  <div class="col col-1" data-label="Id"><%= student.roll %></div>
                  <div class="col col-2" data-label="Name"><%= student.name %></div>
                </li>
              </a>
            <% }); %>
          </div>
        </header>
      </ul>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="../scripts/show.js"></script>
   
   
  </body>
</html>
