<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/signupstyle.css" />
  </head>
  <body>
      <%- include('../partials/header.ejs') %>
    <!-- <p>HELLO</p> -->
    <div class="container" id="wrap">
	  <div class="row">
        <div class="col-md-6 col-md-offset-3" id="form">
            <form action="r" method="post" accept-charset="utf-8" class="form" role="form"> 
              <div class="header1">
                 <legend>Sign Up</legend>
              </div> 
                    <!-- <h4>It's free and always will be.</h4> -->
                    <div class="row">
                        <div class="col-xs-6 col-md-12">
                          <div class="form-control">
                          
                            <input type="text" name="firstname" value="" class="form-control input-lg" placeholder="Full Name" id="fname" />
                            <i class="fa fa-check-circle"></i>
                            <i class="fa fa-exclamation-circle"></i>

                            <small class="flname">error message</small>
                          </div>      
                        </div>
                          
                    </div>
                    <!-- <input type="text" name="email" value="" class="form-control input-lg" placeholder="Your Email"  /> -->
                    <div class="input-group mb-3">
                        <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
                        <div class="form-control">
                          
                          <input type="text" class="form-control" placeholder="email ID" aria-label="Username" aria-describedby="basic-addon1" id="email">
                          <i class="fa fa-check-circle"></i>
                          <i class="fa fa-exclamation-circle"></i>

                          <small class="eps">error message</small>
                        </div>
                    </div>
                    <div class="form-control">
                          
                      <input type="password" name="password" value="" class="form-control input-lg" placeholder="Password" id="password" /> 
                      <i class="fa fa-check-circle"></i>
                      <i class="fa fa-exclamation-circle"></i>

                      <small class="eps">error message</small>
                    </div>
                    <div class="form-control">
                          
                      <input type="password" name="confirm_password" value="" class="form-control input-lg" placeholder="Confirm Password" id="password2" />
                      <i class="fa fa-check-circle"></i>
                      <i class="fa fa-exclamation-circle"></i>

                      <small class="eps">error message</small>
                    </div>
                    
                    <br />
                    <br>
                    <div class="end">
                      <span class="help-block">By clicking Create my account, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.</span><br>
                      <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit" id="submit">
                        Create my account</button>
                      <br>
                      <br>
                      <a href="#">Already have an account?</a> 
                    </div>         
            </form>          
          </div>
</div>            
</div>
</div>
<footer><p>copyright..</p></footer>
<script src="../scripts/signup.js"></script>
<%- include('../partials/footer.ejs') %>
