<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Academics</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../stylesheets/year.css" />
  </head>
  <body>
    <%- include ("../partials/header") %>
    <div class="tabs">
      <div class="tab-header">
        <div class="active"><i class="overview"></i> Overview</div>
        <div>
          <button class="firstyear" onclick="fetchBranch(`first`)">
            FIRST YEAR
          </button>
        </div>
        <div>
          <button class="secondyear" onclick="fetchBranch(`second`)">
            SECOND YEAR
          </button>
        </div>
        <div>
          <button class="thirdyear" onclick="fetchBranch(`third`)">
            THIRD YEAR
          </button>
        </div>
        <div>
          <button class="fourthyear" onclick="fetchBranch(`fourth`)">
            FOURTH YEAR
          </button>
        </div>
      </div>
      <div class="tab-indicator"></div>
      <div class="tab-content" style="margin-top: 20px;">
        <div class="active">
          <i class="overview"></i>
          <h2>Welcome <%=name%>!!</h2>
          <p>
            This website is created for managing the Academic performance of the
            students of IIIT BHUBHANESWAR.We all know that teachers play an
            important role in managing our Academics.
          </p>
          <p>The main features of our website are:</p>
          <ul>
            <li>Managing Academics</li>
            <li>Attendance</li>
            <li>Fees related</li>
            <li>more to be added</li>
          </ul>
        </div>
      </div>
    </div>

    <script src="../scripts/year.js"></script>
    <script src="../scripts/verify.js"></script>
    <script src="../scripts/teacher.js"></script>
    <%- include ("../partials/footer") %>
  </body>
</html>
