<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Academics</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../stylesheets/year.css" />
  </head>
  <body>
    <%- include ("../partials/header") %>
    <div class="tabs">
      <div class="tab-header">
        <div class="active"><i class="overview"></i> Overview</div>
        <div>
          <button class="firstyear" onclick="location.href='/branch/first'">
            FIRST YEAR
          </button>
        </div>
        <div>
          <button class="secondyear" onclick="location.href='/branch/second'">
            SECOND YEAR
          </button>
        </div>
        <div>
          <button class="thirdyear" onclick="location.href='/branch/third'">
            THIRD YEAR
          </button>
        </div>
        <div>
          <button class="fourthyear" onclick="location.href='/branch/fourth'">
            FOURTH YEAR
          </button>
        </div>
      </div>
      <div class="tab-indicator"></div>
      <div class="tab-content">
        <div class="active">
          <i class="overview"></i>
          <h2>Welcome Teachers!!</h2>
          <p>
            This website is created for managing the Academic performance of the
            students of IIIT BHUBHANESWAR.We all know that teachers play an
            important role in managing our Academics.
          </p>
          <p>The main features of our website are:</p>
          <ul>
            <li>Managing Academics</li>
            <li>Attendance</li>
            <li>Fees related</li>
            <li>more to be added</li>
          </ul>
        </div>
      </div>
    </div>

    <script src="../scripts/year.js"></script>
    <%- include ("../partials/header") %>
  </body>
</html>
